@model IEnumerable<ManageStaff.Models.Staff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Academic.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EducationField.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResearchInterests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageStaff)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Academic.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EducationField.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResearchInterests)
        </td>
        <td>
            <img style="max-height:150px; max-width: 80px;" src="@Url.Content(item.ImageStaff)"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code })
        </td>
    </tr>
}

</table>
