@model IEnumerable<ManageStaff.Models.Staff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<button onclick="testAjax()">
    Test
</button>


<table class="table">
    <tr>
        <th width="8.33">
            Học hàm
        </th>
        <th width="8.33">
            Học vị
        </th>
        <th width="8.33">
            Bộ môn
        </th>
        <th width="8.33">
            Chức vụ
        </th>
        <th width="8.33">
            Tên đầy đủ
        </th>
        <th width="8.33">
            Điện thoại
        </th>
        <th width="8.33">
            Thư điện tử
        </th>
        <th width="16.66">
            Sở thích nghiên cứu
        </th>
        <th width="8.33">
            Ảnh
        </th>
        <th width="16.66"></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td width="8.33">
            @if (item.Academic != null && item.Academic.Name != null)
            {
                @Html.DisplayFor(modelItem => item.Academic.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td class="col-1">
            @if(item.Degree != null && item.Degree.Name != null)
            {
                @Html.DisplayFor(modelItem => item.Degree.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td class="col-1">
            @if (item.EducationField != null && item.EducationField.Name != null)
            {
                @Html.DisplayFor(modelItem => item.EducationField.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td class="col-1">
            @if (item.Position.Name != null)
            {
                @Html.DisplayFor(modelItem => item.Position.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td class="col-1">
            @if(item.Name != null)
            {
                @Html.DisplayFor(modelItem => item.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td class="col-1">
            @if (item.PhoneNumber != null)
            {
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td class="col-1">
            @if (item.Email != null)
            {
                @Html.DisplayFor(modelItem => item.Email)
            }
        </td>
        <td width="16.66">
            @if (item.ResearchInterests != null)
            {
                @Html.DisplayFor(modelItem => item.ResearchInterests)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td class="col-1">
            @if (item.ImageStaff != null)
            {
                <img style="max-height:150px; max-width: 80px;" src="@Url.Content(item.ImageStaff)" />
            }
            else
            {
                <img style="max-height:150px; max-width: 80px;" src="@Url.Content("~/imageStaff/KhongCoAnh.png")" />
            }

        </td>
        <td width="16.66">
            @Html.ActionLink("Edit", "Edit", new { id=item.Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code })
        </td>
    </tr>
}

</table>

@section scripts {
    <script>
        var temp;
        function testAjax() {
            console.log("124")
            axios.get('@Url.Action("TestSearch", "Staffs", new { bomon = "Xung"})', {
                //bomon: 'Xung'
            })
                    .then(function (response) {
                        //console.log(response)
                        //Vue1.$data.message = 'Lock Success'
                        //Vue1.$data.cssClass = 'alert alert-info do-animation text-center'
                        //console.log(this.message)
                        //console.log(this.cssClass)
                        console.log(response)
                        temp = response
                    })
                    .catch(function (error) {
                        //console.log(error);
                        //Vue1.$data.message = 'Lock Failed'
                        //Vue1.$data.cssClass = 'alert alert-warning do-animation text-center'
                        console.log(response)
                    });
        }
    </script>
}