@model IEnumerable<ManageStaff.Models.Staff>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Học hàm
        </th>
        <th>
            Học vị
        </th>
        <th>
            Bộ môn
        </th>
        <th>
            Chức vụ
        </th>
        <th>
            Tên đầy đủ
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            Thư điện tử
        </th>
        <th>
            Sở thích nghiên cứu
        </th>
        <th>
            Ảnh
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.Academic != null && item.Academic.Name != null)
            {
                @Html.DisplayFor(modelItem => item.Academic.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td>
            @if(item.Degree != null && item.Degree.Name != null)
            {
                @Html.DisplayFor(modelItem => item.Degree.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td>
            @if (item.EducationField != null && item.EducationField.Name != null)
            {
                @Html.DisplayFor(modelItem => item.EducationField.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td>
            @if (item.Position.Name != null)
            {
                @Html.DisplayFor(modelItem => item.Position.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td>
            @if(item.Name != null)
            {
                @Html.DisplayFor(modelItem => item.Name)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td>
            @if (item.PhoneNumber != null)
            {
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td>
            @if (item.Email != null)
            {
                @Html.DisplayFor(modelItem => item.Email)
            }
        </td>
        <td>
            @if (item.ResearchInterests != null)
            {
                @Html.DisplayFor(modelItem => item.ResearchInterests)
            }
            else
            {
                <span style="color: red;">Chưa có thông tin</span>
            }
        </td>
        <td>
            @if (item.ImageStaff != null)
            {
                <img style="max-height:150px; max-width: 80px;" src="@Url.Content(item.ImageStaff)" />
            }
            else
            {
                <img style="max-height:150px; max-width: 80px;" src="@Url.Content("~/imageStaff/KhongCoAnh.png")" />
            }

        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Code })
        </td>
    </tr>
}

</table>
