@model ManageStaff.Models.StaffProjectResearch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StaffProjectResearch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResearchProject.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResearchProject.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { staffCode=Model.StaffCode, projectResearchCode=Model.ResearchProjectCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
