@using ManageStaff.Models
@model LoginViewModel
@*<div id="top">
    <div id="img"><img src="@Url.Content("~/imageStaff/LogoHVnew1.png")" width=800px height="130px" /></div>
    <div id="trangchu"><a href="@Url.Content("~/Home")" target="_self"><button class="btn"><i class="fa fa-home"></i>Home</button></a></div>
    <div id="giaovien"><a href="@Url.Content("~/HomePage")" target="_blank"> <button class="btn">Giáo viên</button></a></div>
    <div id="lienhe"> <a href="http://fit.mta.edu.vn/news/LIENHE" target="_blank"> <button class="btn">Liên hệ</button></a></a></div>
    </div>
*@
@*<div id="input-group">
        <input type="text" class="form-control" placeholder="Search ...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Tìm kiếm</button>
        </span>
    </div>*@


<section name="intro">
    <pre class="pages">
    <h2><span class="badge-info"></span>Introduce</h2>
    Khoa Công nghệ Thông tin (CNTT) là một khoa chuyên ngành có bề dày lịch sử của Học viện Kỹ thuật quân sự (HVKTQS). Năm 1996, Khoa Toán Tin học được thành lập trên cơ sở bộ môn Toán Tin học (tiền thân là Bộ môn Toán) – Khoa Cơ bản, HVKTQS và đến năm 1999 thì đổi tên thành Khoa Công nghệ Thông tin (CNTT). Từ khi hình thành và phát triển đến nay, Khoa Công nghệ Thông tin luôn là một trong các khoa đào tạo chuyên ngành có uy tín của HVKTQS.
    Khoa CNTT đang thực hiện các nhiệm vụ:
    - Giảng dạy các môn học cơ bản thuộc lĩnh vực Toán học (Giải tích, Đại số tuyến tính và Hình giải tích, Xác suất thống kê, Toán chuyên đề) và Tin học (Nhập môn tin học, Lập trình cơ bản) cho sinh viên các ngành trong HVKTQS.
    - Đào tạo bậc đại học ngành thuộc lĩnh vực máy tính và công nghệ thông tin:  Công nghệ thông tin, Khoa học máy tính, Hệ thống thông tin, Công nghệ phần mềm, Truyền thông và Mạng máy tính.
    - Đào tạo bậc cao học các ngành: Khoa học máy tính, Hệ thống thông tin và Kỹ thuật phần mềm.
    - Đào tạo nghiên cứu sinh  các ngành Toán ứng dụng và Cơ sở toán học cho tin học.
    Chương trình đào tạo cho khối chuyên Tin học (sau này là Công nghệ thông tin) đã được triển khai từ những năm đầu 1990. Đến nay, các chương trình đào tạo ngành CNTT của Khoa thường xuyên được cập nhật để phù hợp với sự phát triển công nghệ thông tin trên thế giới và nhu cầu xã hội. Hiện nay, Khoa CNTT đang triển khai xây dựng chương trình đào tạo theo các chương trình đào tạo tiên tiến và quản lý, tổ chức đào tạo theo các tiêu chuẩn kiểm định quốc tế (AUN).
    Với mục tiêu xây dựng Khoa Công nghệ Thông tin theo mô hình định hướng nghiên cứu, tăng cường tích hợp giữa đào tạo và nghiên cứu khoa học, hiện tại, Khoa đang triển khai một số giải pháp nhằm hình thành các nhóm nghiên cứu mạnh về các lĩnh vực của CNTT, đặc biệt là An toàn thông tin, Công nghệ mô phỏng, Trí tuệ nhân tạo, Học máy thông kê và Cơ sở Toán trong Tin học, tăng quy mô đào tạo sau đại học, hỗ trợ cho các cán bộ, giáo viên và nghiên cứu sinh trong Khoa tham gia các hội nghị khoa học khu vực và quốc tế; tăng cường hợp tác đào tạo và nghiên cứu với các trường đại học và viện nghiên cứu trên thế giới.
    Hiện tại, Khoa CNTT có 6 bộ môn (Bộ môn Toán, Bộ môn Khoa học máy tính, Bộ môn Hệ thống thông tin, Bộ môn Công nghệ phần mềm, Bộ môn An toàn thông tin, và Bộ môn Công nghệ mạng), Trung tâm Máy tính và Bộ phận Quản lý đào tạo.
    <i><b>Địa chỉ liên hệ: 236 Hoàng Quốc Việt – Bắc Từ Liêm – Hà Nội</b></i>
    <i><b>Điện thoại: 04 – 37553119 hoặc 069 694747</b></i>
    <i><b>Email: fit@mta.edu.vn</b></i>
    </pre>
</section>

<section name="modal">
    <div class="modal fade" id="btn-login" tabindex="-1" role="dialog" aria-labelledby="btn-login" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="btn-login">Login Management</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background-color: #d3d3d330;">
                    <div class="row">
                        <div class="col-12">
                            <section id="loginForm">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h5>Use a local account to log in.</h5>
                                        <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                                <div class="col-md-8">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-offset-2 col-8">
                                                    <div class="checkbox">
                                                        @Html.CheckBoxFor(m => m.RememberMe)
                                                        @Html.LabelFor(m => m.RememberMe)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-8 col-offset-2">
                                                    <input type="submit" value="Log in" class="btn primary-bg-color" />
                                                    @Html.ActionLink("Forgotten Account?", "ForgotPassword", "Account", new { @class = "btn btn-default float-right" })
                                                </div>
                                            </div>



                                            @* Enable this once you have account confirmation enabled for password reset functionality
                                                <p>
                                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                                </p>*@
                                }
                            </section>
                        </div>
                        @*<div class="col-md-4">
                                <section id="socialLoginForm">
                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                </section>
                            </div>*@
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>*@
            </div>
        </div>
    </div>
</section>